/* Login Form */
#container{
    font-family: sans-serif;
    margin: 10% 10%;
}
#main{
    padding: 0%;
}
#login-box{
    margin: 10% 30%;
    margin-bottom: 1%;
    color: grey;
    font-size: 15px;
}
#back{
    border: none;
    background-color: red;
    border-radius: 50%;
    padding: 3% 1%;
    margin: 0%;
    margin-left: -1%;
    margin-bottom: 5%;
}
input, #username{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.638);
    width: 100%;
    color: #000;
}
#team-name, #add-member{
    width: 75%;
}
#buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
.hide{
    display: none;
}
h3{
    font-weight: 500;
}
button{
    color: white;
    background-color: royalblue;
    border: none;
    padding: 10px 25px;
    margin: 2%;
}
#logout{
    float: right;
    padding: 5px 5px;
    margin-left: 90%;
    background-color: red;
}
/* Logged  */
#teams{
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
}
.teams{
    border: 1px solid black;
    padding: 1%;
    width: 80%;
}
#create-team-btn{
    float: right;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 20px;
}
#popup-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
#create-team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 60%;
    background-color: white;
    border: 1px solid black;
}
#team-catag{
    padding: 2%;
    width: 75%;
}
/* Created Teams */
#reports-btn, #settings-btn{
    background-color: white;
    color: black;
    margin-bottom: 0%;
}
#reports-btn:focus, #settings-btn:focus{
    border-bottom: 2px solid red;
}
#team-set{
    border-bottom: 1px solid rgb(182, 176, 176);
}
#report-set{
    margin: 4%;
}
#members-sel{
    padding: 3px 4% 3px 3px;
}
#settings-set{
    margin: 4%;
}
#settings-set input{
    width: 40%;
    margin-left: 10%;
}
span input{
    width: 1px;
}
.members{
    padding: 1%;
    width: 30%;
    height: 15px;
    background-color: lightgray;
    border-radius: 2em;
    margin: 4px;
}
#members-manage{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.members button{
    background-color: grey;
    color: lightgray;
    padding: 2% 4%;
    border-radius: 20px;
    float: right;
    position: relative;
    bottom: 11px;
    font-weight: 900;
}
.setting-btns button{
    padding: 10px;
    margin-left: 10%;
}
#cancel-settings{
    background-color: white;
    color: black;
    box-shadow: 0px 2px 15px 4px #888888;
}
#delete-team, #cancel-btn{
    background-color: rgb(255, 91, 3);
}
.setting-btns{
    width: 90%;
}